---
import { Icon } from "astro-icon/components";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import ButtonTag from "./control/ButtonTag.astro";

interface Props {
	name: string;
	avatar: string;
	desc: string;
	url: string;
	tags?: string[];
	class?: string;
}

const { name, avatar, desc, url, tags = [], class: className } = Astro.props;
---

<div class:list={["flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]", className]}>
    <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
        <img src={avatar} alt={`${name}站点头像`} class="w-full h-full object-cover">
    </div>
    <div class="grow w-full flex flex-col justify-between">
        <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100">{name}</div>
        <div class="text-50 text-sm font-medium flex-1 flex items-center">{desc}</div>
        <div class="flex items-center">
            <div class="flex flex-row flex-wrap gap-2">
                {(tags && tags.length > 0) ? tags.map((tag) => (
                    <ButtonTag>
                        {tag}
                    </ButtonTag>
                )) : (
                    <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>
                )}
            </div>
        </div>
    </div>
    <a href={url} target="_blank" rel="noopener noreferrer" class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
        <Icon name="material-symbols:chevron-right-rounded"
            class="transition text-[var(--primary)] text-4xl mx-auto">
        </Icon>
    </a>
</div>
